* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */

a {
    text-decoration: none;
}
.content {
    width: 1170px;
    margin: auto;
}

.btn {
    cursor: pointer;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    background: #b39359;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 400;
}

.btn:hover {
    opacity: 0.8;
}
/* Header */

.fixed-header {
    background: #0b2c3d;
    padding-top: 50px;
    position: sticky;
    top: -50px;
    z-index: 1;
}
.fixed-header .logo {
    width: 120px;
    height: 55px;
    object-fit: cover;
}
.fixed-header .navbar {
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.fixed-header ul {
    display: flex;
    gap: 40px;
    margin-left: auto;
}

.navbar ul a {
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
}

.navbar ul a:hover {
    color: #b39359;
}
.navbar .avatar {
    cursor: pointer;
    margin-left: 50px;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.navbar .btn {
    margin-left: 30px;
}
/* Introduce */
.intro {
    background-image: url(../img/detail-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    opacity: 0.9;
}

.intro .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: #ffffff;
}

.intro .content .desc {
    font-weight: 700;
    font-size: 1.8rem;
}

.intro .title {
    font-weight: 600;
    font-size: 6.8rem;  
}
/* Details */
.detail .content {
    padding: 105px 0;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.detail .estate-img {
    width: 700px;
    height: 450px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0px 6px 32px rgba(32, 31, 21, 0.5);
}

.detail .list {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.detail .list .title {
    font-size: 3.6rem;
    color: #0b2c3d;
    font-weight: 600;
}
.detail .list .desc {
    width: 100%;
    padding: 10px 10px;
    border: 2px solid #0b2c3d;
    border-radius: 999px;
    margin-top: 20px;
}

/* project */

.project {
    padding: 50px;
}
.project .content .title{
    font-size: 3.8rem;
    font-weight: 600;

}

.project .address {
    margin-top: 22px;
    font-size: 1.8rem;
    text-decoration: underline;
    color: #b39359;
}

.project .desc {
    margin-top: 22px;
    font-size: 1.8rem;
    letter-spacing: 3;
    line-height: 1.5;

}
.project .body {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project .body .desc {
    width: 50%;
    font-size: 1.8rem;
}
.project .body .desc b {
    font-weight: bold;
}

.project .sub-title {
    font-size: 3.0rem;
}
.project .project-img {
    width: 50%;
    height: 400px;
    object-fit: cover;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border: 3px solid #ffffff;
    outline: 3px solid #b39359;
    outline-offset: 3px;
}

.project .project-feature {
    background-color: #d3b16f6b;
    padding: 20px;
    border-radius: 20px;
    margin-left: 60px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Contact */
.contact {
    position: relative;
    background: #0b2c3d;
}

.contact .content {
    padding: 90px 0;
}

.contact .title {
    font-size: 3.6rem;
    font-weight: 500;
    color: #ffffff;
}

.contact .desc {
    margin-top: 15px;
    font-size: 1.4rem;
    color: #b39359;
}

.contact .row {
    display: flex;
    justify-content: flex-start;
}
.contact .inp-block {
    margin-top: 30px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.contact .inp-text {
    color: #b39359;
    padding: 20px 250px 20px 20px;
    background: transparent;
    border: 1.5px solid #b39359;
    border-radius: 9px;
}
.contact .btn {
    margin-top: 20px;
    font-size: 1.4rem;
}
.contact img {
    max-width: 20%;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Footer */
.footer {
    background-color: #eee;
    padding: 120px 0;
    background: url(../img/footer.webp);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

.footer .content {
    display: flex;
}

.footer .left-footer {
    width: 34%;
}

.footer .right-footer {
    width: 66%;
}
.footer .left-footer .desc {
    width: 270px;
    margin-top: 25px;
    font-size: 1.6rem;
    line-height: 1.6;
    color: #494949;
    font-weight: 500;
}

.footer .left-footer .copyright {
    margin-top: 40px;
    font-size: 1.4rem;
    line-height: 1.6;
    color: #494949;
    font-weight: 500;
}

.footer .left-footer .copyright span {
    color: #b39359;
}

.right-footer {
    display: flex;
    justify-content: space-between;
}

.right-footer .title {
    font-size: 2.2rem;
}

.right-footer .list {
    margin-top: 30px;
}

.right-footer .list li {
    margin-top: 20px;
}

.right-footer .list a {
    font-size: 1.6rem;
    color: #494949;
}

.right-footer .social-block {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.right-footer .social-block a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #0b2c3d;
    color: #eee;
}